@media(max-width: 900px){
    #header{
        margin:0;
        padding:0;
        display: block;
        background-image:url(../img/header.jpg);
        background-repeat:no-repeat;
        background-size:contain;
        background-position:top;
    }
}
