/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19-may-2014, 14:34:38
    Author     : Pochii
*/
@media (max-width: 900px){
  body{background-color: #fff;}
  #contenido{width: 95%; height: 100%;}  
} 
/**
* Estilos para tablets. Resolucion de 500px a 900px
**/
@media(max-width: 900px) and (min-width: 600px){
    input[type="text"],input[type="password"]{
        height: 50px;
        width:  300px;
        background-color: #fdfdec;
        border-radius: 10px;
        border: 1px #0761b6 solid;
        margin-bottom: 15px;
        font-size: 2em;
        padding-left: 13px;
        color: #989692;
        box-shadow: 1px 1px 2px #000 inset;
    }
    td{
        font-size: 18px;
        font-weight: bold;
        font-family: corbel;
        padding-left: 15px;
    }   
}
@media(max-width: 599px){
    #header{background-image: none; background-color: blue; margin: 3px 5px 5px 5px;}
    #logo:nth-of-type(1):before{content: "Universidad Don Bosco"; color: #fff; font-family: Corbel; font-size: 2em;}
   input[type="text"],input[type="password"]{ padding:5px; width: 93%;}
    
    td{ width: 60%; margin:0;}
    td, td:before{float: left;}
    td:before{ width: 50%; display:block; margin-right: 6px; white-space: nowrap; }
    .btn{width: 100%; margin-bottom: 6px;}
}
